body{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-size: 80px;
}
.header{
    background-image: url(images/header-background-image-food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0% 10%;
    color:#fff;
    padding:10px 0px;
}
.nav-brand img{
    width: 30px;
    margin-right: 10px;
}
.navbar-items{
    display: flex;
}
.navbar-items li{
    list-style: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
}
.navbar-items li a{
    text-decoration: none;
    color:#fff;
    transition: 0.3s all ease-in-out;
}
.navbar-items li a:hover{
    color:#E53E20;
}
.header-description{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    color:#fff;
}
.popular-area{
    background-image: url(images/food-menu-bg.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-color: #E0ECC1;
    text-align: center;
    padding-top:10px;
    padding-bottom: 20px;
}
.popular-item{
    display: flex;
    justify-content: center;
}
.items-single{
    width: 250px;
    margin:30px 10px;
    background-color: #fff;
    border-radius: 10px;
}
.items-single img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.item-content{
    padding-left:10px;
}
.item-content span{
    color:#E53E20;/*Tomato color*/
    font-size: 30px;
}
.action-btn{
    background-image: linear-gradient(to right, #e65238, #c23117);
    border:none;
    border-radius: 5px;
    padding:15px 40px;
    color:#fff;
    font-size:18px;
    cursor: pointer;
}